<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Home User-Diary</title>
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>

    <style>
      body {
        background-color: aquamarine;
      }
      h1 {
        text-align: center;
        font-size: 2.5rem;
        color: white;
        background-color: black;
        padding: 1rem;
      }
      h2 {
        text-align: center;
        font-size: 2.5rem;
        font-style: italic;
        color: green;
      }
      a {
        display: inline-block;
        border: 2px solid black;
        background-color: gray;
        color: black;
        text-decoration: none;
        padding: 0.5rem 1rem;
      }
      a:hover {
        cursor: pointer;
        background-color: rgb(56, 50, 42);
      }
    </style>
  </head>
  <body>
    <!--Header-->
    <header><h1>User-Diary</h1></header>
    <!--Main-->
    <main style="text-align: center">
      <h2>Welcome to User-Diary..!</h2>
      <a href="/users">Watch Users</a>
    </main>
  </body>
</html>
